#
#### Google Streetview Api Configuration
#
STREETVIEW_API_ENDPOINT=https://maps.googleapis.com/maps/api/streetview
STREETVIEW_API_KEY= ### PUT YOUR STREET VIEW API KEY HERE ###
STREETVIEW_API_IMAGE_HEIGHT=400
STREETVIEW_API_IMAGE_WIDTH=400
STREETVIEW_API_IMAGE_FOV=90
STREETVIEW_API_RETRY_DELAY=10
STREETVIEW_API_MAX_RETRIES=5

#
#### Webserver listen port
#
WEBSERVER_LISTEN_PORT=8080
WEBSERVER_LISTEN_EXPOSED_PORT=8080

#
# gRPC server configuration
#
GRPC_SERVER_PROTOCOL=tcp
GRPC_SERVER_HOST=0.0.0.0
GRPC_SERVER_PORT=4000
GRPC_SERVER_EXPOSED_PORT=4000
GRPC_SERVER_RETRY_DELAY=5
GRPC_SERVER_MAX_RETRIES=10

#
# Docker elastic stack service
#
ELASTICSEARCH_HOST=palmago-elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=palmago
ELASTICSEARCH_RETRY_DELAY=1
ELASTICSEARCH_MAX_RETRIES=3
# port publicly exposed outside of the Docker network
ELASTICSEARCH_EXPOSED_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

KIBANA_PORT=5601
# port publicly exposed outside of the Docker network
KIBANA_EXPOSED_PORT=5601

#
# Redis configuration
#
REDIS_HOST=palmago-redis
REDIS_PORT=6379
REDIS_EXPOSED_PORT=6379
REDIS_RETRY_DELAY=1
REDIS_MAX_RETRIES=3
